@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background: rgb(255, 255, 255);
  cursor: default;
  transition: all 0.1s ease-in-out;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

nav {
  width: 100%;
  height: 44px;
  background: #333232;
  padding: 0 10%;
  position: fixed;
  top: 0;
  z-index: 200;
}

div.navbar-container {
  max-width: 1500px;
  width: 100%;
}

ul.navbar-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 0;
}

li.navbar-link {
  cursor: pointer;
}

div.menu-div {
  background-image: url("./images/bx-menu-mobile.svg");
  width: 28px;
  height: 28px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.menu-div.close {
  margin-top: -20%;
  background-image: url("./images/bx-x.svg");
  width: 28px;
  height: 28px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

ul.mobile-menu {
  display: none;
}
div.offer-display {
  background: #f5f5f7;
  color: #1d1d1f;
  width: 100%;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 10px;
}

a.offer-link {
  color: #06c;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

img.offer-icon {
  position: absolute;
}

.nav-menu {
  display: none;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #fbecf8;
  padding: 15px 0;
  text-align: center;
}

.header-h1 {
  max-width: 82%;
}

div.main-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img.apple-celebrate-logo {
  width: 69px;
  margin-bottom: 15px;
  object-fit: cover;
}

.main-header h1 {
  font-size: 55px;
  font-weight: 600;
  letter-spacing: -0.3px;
  color: #1d1d1f;
  margin-bottom: 3px;
}

.main-header a {
  font-size: 19px;
  color: #1171d1;
  text-decoration: none;
  display: flex;
  align-items: center;
}

div.header-image-container {
  display: flex;
  margin: 25px 0 0 0;
  justify-content: space-evenly;
  width: 95%;
}

img.header-sub-images {
  margin: 0 6px;
}

section {
  max-width: 100vw;
  width: 100%;
}

.section-1-container {
  width: 100%;
  height: 650px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("./images/asset 13.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 0 10px 0;
  text-align: center;
}

.section-1-container h2 {
  margin-top: 55px;
  font-size: 45px;
  font-weight: 510;
  color: #1d1d1f;
  letter-spacing: -1.9px;
}
.section-1-container p {
  font-size: 22px;
  font-weight: 400;
  color: #474748;
  letter-spacing: -1.2px;
}

.links-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links-container a {
  font-size: 19px;
  color: #1171d1;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 10px;
  letter-spacing: -0.5px;
}
.section-2-container {
  width: 100%;
  height: 650px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("./images/asset 14.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px 0;
  text-align: center;
}
.section-2-container h2 {
  margin: 220px 0 0 350px;
  font-size: 45px;
  font-weight: 510;
  color: #1d1d1f;
  letter-spacing: -1.9px;
}
.section-2-container p {
  margin-left: 350px;
  font-size: 22px;
  font-weight: 400;
  color: #474748;
  letter-spacing: -1.2px;
}
.links-container-section-2 {
  margin-left: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.links-container-section-2 a {
  font-size: 19px;
  color: #1171d1;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 10px;
  letter-spacing: -0.5px;
}
.section-2-1 {
  width: 100%;
  height: 650px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("https://www.apple.com/v/home/aw/images/heroes/holiday-2022/hero_endframe__8xosbwdvpaqe_largetall.jpg");
  background-size: 3008px 736px;
  background-position: bottom;
  background-repeat: no-repeat;
  margin: 10px 0;
  text-align: center;
}
@media only screen and (max-width: 1068px) {
  .section-2-1 {
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("https://www.apple.com/v/home/aw/images/heroes/holiday-2022/hero_endframe__8xosbwdvpaqe_mediumtall.jpg");
    background-size: 1068px 694px;
    background-repeat: no-repeat;
    margin: 10px 0;
    text-align: center;
  }
}
.section-2-1-container {
  text-align: center;
}
.section-2-1-container div {
  position: relative;
  margin-top: -250px;
}
.section-2-1-container div .links-container a {
  position: relative;
  margin-top: 260px;
  color: #2997ff !important;
}
.section-2-1-container div h2 {
  font-size: 45px;
  font-weight: 510;
  color: #ffffff;
  letter-spacing: -1.9px;
}
.section-2-1-container div p {
  font-size: 22px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: -1.2px;
}
.section-2-1-container video {
  width: 1152px;
  height: 648px;
}

/* First row */
div.section-3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 10px;
}
div.section-3-1 {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px;
  flex-direction: column;
  background-image: url("https://www.apple.com/v/home/aw/images/promos/iphone-14-pro/promo_iphone14pro__4n4twj56fzmu_large.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}
@media only screen and (max-width: 1068px) {
  div.section-3-1 {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    flex-direction: column;
    background-image: url("https://www.apple.com/v/home/aw/images/promos/iphone-14-pro/promo_iphone14pro__4n4twj56fzmu_medium.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
  }
}
div.section-3-1 h2 {
  font-size: 32px;
  margin: 22px 0 0 0;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.002em;
}
div.section-3-1 p {
  margin: 0;
  font-size: 18px;
}
div.section-3-2 {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px;
  flex-direction: column;
  background-image: url("https://www.apple.com/v/home/aw/images/promos/airpods-holiday-2022/promo_airpods_holiday__fqg7rt8b4vma_large.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px;
  text-align: center;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
}
@media only screen and (max-width: 1068px) {
  div.section-3-2 {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    flex-direction: column;
    background-image: url("https://www.apple.com/v/home/aw/images/promos/airpods-holiday-2022/promo_airpods_holiday__fqg7rt8b4vma_medium.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
  }
}
div.section-3-2 h2 {
  font-size: 32px;
  margin: 6px 0 0 0;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.002em;
}
div.section-3-2 p {
  margin: 0;
  font-size: 18px;
}

/* Second row */
div.section-4 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 10px;
}
div.section-4-1 {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  padding: 20px;
  background-image: url("https://www.apple.com/v/home/aw/images/promos/ipad-pro/promo_ipadpro_order__upw04aj7i2qe_large.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}
@media only screen and (max-width: 1068px) {
  div.section-4-1 {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
    background-image: url("https://www.apple.com/v/home/aw/images/promos/ipad-pro/promo_ipadpro_order__upw04aj7i2qe_medium.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
  }
}
div.section-4-1 h2 {
  font-size: 32px;
  margin: 22px 0 0 0;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.002em;
}
div.section-4-1 p {
  margin: 0;
  font-size: 18px;
}
.m2-icon {
  display: inline-block;
  width: 37px;
  height: 30px;
  background-image: url("https://www.apple.com/v/home/aw/images/logos/ipad-pro/promo_m2_chip__enw2kz91lsuq_medium.png");
  background-repeat: no-repeat;
  background-size: 37px 37px;
  background-position: center;
}
div.section-4-2 {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px;
  flex-direction: column;
  background-image: url("https://www.apple.com/sg/home/images/promos/apple-watch-ultra/promo_apple_watch_ultra__gnsqulvdc4a6_large.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px;
  text-align: center;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
}
@media only screen and (max-width: 1068px) {
  div.section-4-2 {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    flex-direction: column;
    background-image: url("https://www.apple.com/sg/home/images/promos/apple-watch-ultra/promo_apple_watch_ultra__gnsqulvdc4a6_medium.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
    text-align: center;
    color: #474748;
    font-size: 20px;
    font-weight: 400;
  }
}
div.section-4-2 p {
  margin: 0;
  font-size: 18px;
}

/* Third row */
div.section-5 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 10px;
}
div.section-5-1 {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px;
  flex-direction: column;
  background-image: url("https://www.apple.com/sg/home/images/promos/lumihealth-tiles/tile-2/promo_lumihealth__dcdfmymgd5ci_large.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px;
  text-align: center;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
}
@media only screen and (max-width: 1068px) {
  div.section-5-1 {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    flex-direction: column;
    background-image: url("https://www.apple.com/sg/home/images/promos/lumihealth-tiles/tile-2/promo_lumihealth__dcdfmymgd5ci_medium.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
  }
}
div.section-5-1 h2 {
  font-size: 30px;
  margin: 22px 0 0 0;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.002em;
}
div.section-5-2 {
  width: 100%;
  height: 500px;
  color: #f5f5f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  flex-direction: column;
  background-image: url("https://www.apple.com/v/home/aw/images/promos/apple-tv-4k/promo_tv4k__d33vaocbii82_large.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px;
  text-align: center;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
}
@media only screen and (max-width: 1068px) {
  div.section-5-2 {
    width: 100%;
    height: 500px;
    color: #f5f5f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-direction: column;
    background-image: url("https://www.apple.com/v/home/aw/images/promos/apple-tv-4k/promo_tv4k__d33vaocbii82_medium.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
  }
}
div.section-5-2 p {
  margin: 0;
  font-size: 18px;
}

h2.section-h2 {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 6px;
}

p.section-p {
  margin: 4.8px 0;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #f5f5f7;
  color: #6e6e73;
  font-size: 12.8px;
  font-weight: 400;
  letter-spacing: 0.1px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

div.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 10px;
  max-width: 1000px;
}

.footer-section-1 {
  width: 100%;
}
.footer-section-1 p {
  line-height: 19px;
  font-size: 12px;
  color: #87878a;
  letter-spacing: 0.3px;
}

.footer-h4-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer-plus {
  display: none;
}

h4.footer-h4 {
  color: #464649;
  font-weight: 500;
  letter-spacing: 0.2px;
}
div.footer-section-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  margin: 15px 0;
  line-height: 24.9px;
}

.footer-section-2 ul {
  margin-bottom: 15px;
  padding-left: 0;
}
.footer-section-2 ul li {
  display: block;
}

.footer-h4-div {
  pointer-events: none;
}

.footer-h4 {
  pointer-events: none;
}
.panel {
  display: block;
}

div.main-footer {
  width: 100%;
}

hr {
  color: #87878a;
  opacity: 0.3;
  margin-top: 15px;
}

div.main-footer-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0;
}

div.main-footer-2 div p {
  font-size: 12px;
  margin: 0 30px 0 0;
}

.main-footer-2 li {
  color: #424245;
  display: inline-block;
  margin: 0 7px 0 0;
  padding: 0 10px 0 0;
  font-size: 12px;
  border-right: 1px solid #d2d2d7;
}
.main-footer-2 li:last-child {
  color: #424245;
  display: inline-block;
  font-size: 12px;
  border: none;
  margin: 0;
  padding: 0;
}
.main-footer-2 li:last-child {
  color: #424245;
  display: inline-block;
  font-size: 12px;
  border: none;
  margin: 0;
  padding: 0;
}

div.footer-country {
  margin-left: auto;
}

a.blue-link {
  color: #0066cc;
}

a:hover {
  text-decoration: underline;
}
